{% extends 'base.html' %}


{% block title %}Edit Profile{% endblock %}

{% block content %}


<div class="card-body">
    <div class="text-center mb-4">
        <h2>{{ profile.full_name }}</h2>
    </div>
    
    <div class="card mt-3">
        <div class="card-header">About Me</div>
        <div class="card-body">
            {% if profile.bio %}
                <p>{{ profile.bio|safe }}</p>
            {% else %}
                <p class="text-muted">No bio provided yet. <a href="{% url 'accounts:edit_student_profile' %}">Add one now</a>.</p>
            {% endif %}
        </div>
    </div>
    {% comment %} <h2>Recent News</h2>
    {% if student_news %}
        <ul>
            {% for news in student_news %}
                <li>
                    <a href="{% url 'news:news_detail' news.slug %}">{{ news.title }}</a> - 
                    {{ news.created_at }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No news posts available.</p>
    {% endif %} {% endcomment %}
</div>

{% endblock %}